@import url('./style/animation.css');

.middle {
  width: 100%;
  height: 100vh;
  
  padding: 0;
  margin: 0;

  color: whitesmoke;
  font-weight: bold;

  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.overlay {
  width: 100%;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.7);

  display: flex;
  vertical-align: middle;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.startup {
  animation-name: startingUP;
  animation-duration: 1s;
}

.startup a {
  color: whitesmoke;
  text-decoration: none;
  transition: all .3s;
}

.startup a:hover {
  opacity: .6;
  text-decoration: underline;
}

.fixedFooter {
  position: fixed;
  left: 10px;
  bottom: 10px;
}

.box {
  color: whitesmoke;
  margin-bottom: 5rem;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  gap: 1rem;
}

.cardBox {
  width: 15rem;
  height: auto;
  color: #2e2f2f;
  background-color: whitesmoke;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
}

.cardBox img {
  width: 90%;
  border-radius: 100%;
}

.cardBox h1 {
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cardBox h3 {
  text-align: center;
}

.cardBox a {
  color: #2e2f2f;
  transition: all .3s;
}

.cardBox a:hover {
  text-decoration: none;
  opacity: .6;
}

.box#Contact {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 5rem;
  font-size: 18px;
}

.contactBox a {
  color: whitesmoke;
  transition: all .3s;
}

.contactBox a:hover {
  opacity: .6;
  text-decoration: none;
}

.footer {
  text-align: center;
  background-color: whitesmoke;
  color: #2e2f2f;
  padding: .5rem 0;
}

.footer a {
  color: #2e2f2f;
  text-decoration: none;
  transition: all .3s;
}

.footer a:hover {
  opacity: .6;
  text-decoration: underline;
}