.middle {
  width: 100%;
  height: 100vh;

  display: flex;
  vertical-align: middle;
  justify-content: center;
  text-align: center;
  
  color: whitesmoke;
  font-weight: bold;
  align-items: center;
}