@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300&display=swap');

:root {
  font-family: 'IBM Plex Sans Thai', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background: #2e2f2f;
}